<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <span>Item Details</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div id="collapseExample" [ngbCollapse]="false">
        <div class="card">
          <div class="card-body">
            <h1 style="color:chocolate">Items in your cart:<span
              style="margin-left: 5%;margin-right: 22%;color: greenyellow">
                    Total value is: {{allTotal}}</span>
              <button class="btn btn-outline-success" (click)="acc.toggle('static-2')">CheckOut</button>
            </h1>
            <table class="table table-bordered table-responsive table-hover">
              <thead class="thead-light">
              <tr>
                <th>Image</th>
                <th>Name & Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Add/Remove</th>
                <th>Total For Item</th>
              </tr>
              </thead>
              <tr *ngFor="let prod of productAddedToCart;let q = index">
                <td><img src="{{prod.image_path}}" width="250px;" height="270px;"/></td>
                <td class="text-center">{{prod.name}}-{{prod.description}}</td>
                <td>{{prod.unit_price}}</td>
                <td>{{prod.quantity}}</td>
                <td>
                  <div class="form-inline">
                    <button type="button" (click)="onAddQuantity(prod)" class="btn btn-success">+</button>
                    <input type="text" [ngModel]="prod.quantity" (ngModelChange)="prod.quantity=$event"
                           class="form-control form-inline" id="count" style="width: 80px;">
                    <button type="button" (click)="onRemoveQuantity(prod)" class="btn btn-danger">-</button>
                  </div>
                </td>
                <td>{{prod.unit_price * prod.quantity}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Order Details</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <br>
      <form [formGroup]="deliveryForm">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="name" style="color: lightseagreen;font-size: medium;"><b>Name*:</b></label>
            </div>
            <div class="col-md-6">
              <input type="text" formControlName="name" id="name" placeholder="Enter Your Name"
                     class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-4">
              <span style="font-weight: bold;color: red;" *ngIf="!deliveryForm.controls['address'].valid
                          && deliveryForm.controls['address'].dirty">
                <span *ngIf="deliveryForm.controls.address.errors.required">Name is Required.</span>
              </span>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-2">
              <label for="address" style="color: lightseagreen;font-size: medium;"><b>Delivery Address*:</b></label>
            </div>
            <div class="col-md-6">
              <input type="text" formControlName="address" id="address" placeholder="Enter Delivery Address"
                     class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-4">
              <span style="font-weight: bold;color: red;" *ngIf="!deliveryForm.controls['address'].valid
                          && deliveryForm.controls['address'].dirty">
                <span *ngIf="deliveryForm.controls.address.errors.required">Delivery Address is Required.</span>
              </span>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-2">
              <label for="email" style="color: lightseagreen;font-size: medium;"><b>Email Address*:</b></label>
            </div>
            <div class="col-md-6">
              <input type="email" formControlName="email" id="email" placeholder="Enter Delivery Address"
                     class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-4">
              <span style="font-weight: bold;color: red;" *ngIf="!deliveryForm.controls['email'].valid
                          && deliveryForm.controls['email'].dirty">
                <span *ngIf="deliveryForm.controls.email.errors.required">Email Address is Required.</span>
              </span>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-2">
              <label for="note" style="color: lightseagreen;font-size: medium;"><b>Special Message/ Instructions:</b></label>
            </div>
            <div class="col-md-6">
              <textarea formControlName="note" id="note" rows="3" placeholder="Enter Special Message"
                        class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </textarea>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-2">
              <label style="color: lightseagreen;font-size: medium;" ><b>Total Amount To Pay:</b></label>
            </div>
            <div class="col-md-6">
              {{allTotal}}
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
        <button type="button" style="margin-left: 39%;" [disabled]="!deliveryForm.valid" class="btn btn-outline-success"
                (click)="acc.toggle('static-3')"><b>Proceed to pay</b></button>
      </form>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <span>Confirm Your Oder</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <table>
        <tr class="col-md-12">
          <td class="col-md-6"><h2>Item Details</h2></td>
          <td class="col-md-6"><h2>Delivery Details</h2></td>
        </tr>
        <tr class="col-md-12">
          <td class="col-md-6">
            <!-- -- Item details Table -->
            <table class="table table-bordered  table-hover">
              <thead class="thead-light">
              <tr>
                <th>Name & Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total For Item</th>
              </tr>
              </thead>
              <tr *ngFor="let prod of productAddedToCart">
                <td class="text-center">{{prod.name}}</td>
                <td>{{prod.unit_price}}</td>
                <td>{{prod.quantity}}</td>
                <td>{{prod.unit_price * prod.quantity}}</td>
              </tr>
            </table>
          </td>
          <td class="col-md-6">
            <!-- --Delivery Table -->
            <table class="table table-bordered  table-hover">
              <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Delivery Address</th>
                <th>Email</th>
                <th>Message</th>
              </tr>
              </thead>
              <tr>
                <td>{{deliveryForm.value.name}}</td>
                <td>{{deliveryForm.value.address}}</td>
                <td>{{deliveryForm.value.email}}</td>
                <td>{{deliveryForm.value.note}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="col-md-12">
          <td class="text-center">
            <button type="button" class="btn btn-outline-success"><b>Confirm Order</b></button>
          </td>
        </tr>
      </table>
      <p *ngFor="let alert of alerts">
        <ngb-alert style="width: 758px;" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
      </p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
